

.hero-animation {
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  flex: 1;
}

.hero-animation canvas,
.hero-animation svg {
  width: 550px !important;    
  height: 550px !important;
  max-width: 100%;
}


@media (max-width: 768px) {
  .hero-animation canvas,
  .hero-animation svg {
    width: 300px !important;
    height: 300px !important;
  }
}


